.container {
    width: 80%;
}

#json-tree-view {
    margin: 2%;
    padding: 1%;
    width: 100%;
}

#main-heading {
    display: inline;
}

#page-header {
    border-bottom: solid black 3px;
    margin-top: 3%;
}

.results {
    margin: 2%;
    padding: 1%;
    width: 100%;
}

#results-header {
    margin: 2%;
    padding: 1%;
    width: 100%;
}

#search-box {
    display: inline;
    margin-bottom: 1%;
    padding: 1%;
    width: 50%;
}

#search-box-help {
    display: inline;
    margin: 1%;
    padding: 1%;
    width: 50%;
}

#search-form {
    margin: 2%;
}

#solr-query-url {
    overflow-wrap: break-word;
    width: 100%;
}

#sub-heading {
    float: right;
}

[v-cloak] { display: none; }