/* line 3, ../sass/enmviz.scss */
svg .node circle {
  fill: #bbb;
}
/* line 10, ../sass/enmviz.scss */
svg .active circle {
  fill: #008080;
}
/* line 14, ../sass/enmviz.scss */
svg .active text {
  font-size: 1.6rem;
}

/* line 24, ../sass/enmviz.scss */
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
