[v-cloak] { display: none; }

.book-cover-thumbnail {
    max-height: 64px;
    width: auto !important;
}

.enm-page-active {
    fill: lightgrey;
    stroke: black;
}

#navPrototypeLabel {
    margin-left: 5px;
}
