#search-form {
    margin: 0px 0px 40px 0px;
}

#sorted-by-label {
    background-color: white;
    border: none;
}

#toggle-sort-by {
    background-color: white;
    border: none;
}

.container {
    width: 90%;
}