.enm-browsetopicspage {
  .section {
    padding-bottom: 0;
  }

  .enm-topiclist {
    margin-top: 50px;
    margin-bottom: 100px;
    .column {
      padding-right: 3rem;
    }
    li a {
      display: block;
      @include topicTreatment;
      font-size: 1.1rem;
      line-height: 1.2;
      padding: 3px 0;
    }
  }
}

.subtab-info {
  padding-top: 1rem;
  font-size: .9rem;
  font-weight: bold;
}

.hero {
  .title,
  .subtitle {
    color: $white;
  }
}