.enm-searchbox {
  max-width: 1500px;
  width: 75%;
}


main.enm-searchpage {
  padding: 0;
}

section.searchecho {
  background-color: #C2D8D7;
  background-color: #166f6e94;
}

.columns.enm-searchecho {
  padding-top: .75rem;
  padding-top: 1rem;
  margin-bottom: 0;
  .column {
    padding-bottom: 0;
  }
  .delete {
    margin-left: .4em;
    margin-right: -3px;
    top: -.5rem;
  }
  .tag:not(:last-child) {
    margin-right: 8px;
  }

  .tag {
    padding-top: 5px;
    font-size: 1rem;
    align-items: baseline;
    margin-bottom: .75rem;
    margin-bottom: 1rem;
    height: 2rem;
    color: #222222;
    box-shadow: 1px 1px 1px #02020242;
    .enm-topic {
      margin-left: .3rem;
      @include topicTreatment;
      font-size: .9rem; //height: 2rem;
    }
    font-size: .9rem;
  }
}














/****************************************************************************************************************************************/

.enm-searchbox-hero .hero-body {
  padding: 2rem 0;
}

.enm-panes {
  margin-top: 0;
  margin-bottom: 0!important;
}

.enm-pane {
  height: calc(98vh - 260px);
  overflow-y: auto;
  transition: width 0.2s ease-in-out;
}

.enm-pane-facets {
  padding-top: 30px;
  padding-bottom: 60px;

  .listui {
    color: black;
    display: block;
    font-size: .85rem;
    padding: 5px 0;
    i {
      padding-right: 3px;
      display: inline-block;
    }
  }
  .enm-pane-heading {
    padding-top: .54rem;
  }
  .content {
    padding-right: 5px;
  }
  .enm-facets-list {}
  .enm-topics a {
    display: block;
    padding-left: 15px;

    line-height: 1.3;
    padding: 2px 2px 2px 15px;
    text-indent: -15px;
    @include topicTreatment;
  }
}



.enm-pane-results {
  padding-top: 30px;
  header {
    @include clearfix;
    margin-bottom: 20px;
  }


  .box {
    position: relative;
    a.enm-divlink {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:hover {
      background-color: whitesmoke;

      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.3), 0 0 0 1px rgba(10, 10, 10, 0.3);
    }
  }
}

.enm-book {

  font-size: .9rem;
  .title {
    font-size: 1.1rem;
    margin-bottom: .3rem;
    a:link,
    a:hover,
    a:visited {
      color: inherit;
    }
  }
  .subtitle {
    font-size: .95rem;
    margin-top: -.2rem;
    margin-bottom: .3rem;
    font-weight: bold;
  }
  .meta {
    font-size: .9rem;
    margin-bottom: .4rem;
    line-height: 1.3;
  }
  .matches,
  .relevance {
    font-size: .8rem;
  }
}

.enm-pane-preview {

  padding: 35px 50px 50px;
  margin-right: .75rem;
  .title {
    font-size: 1.3rem;
    margin-bottom: .4rem;
  }
  .subtitle {
    font-size: 1.1rem;
    margin-bottom: .4rem;
  }
  h5 {
    font-weight: bold;
    text-transform: uppercase;
  }
  .enm-pageno {
    float: right;
  }
  .enm-buttons {
    width: 100%;
    >a {
      width: 49%;
    }
  }
  .enm-topicsonthispage {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $bordergray; // font-family: serif;
    h3 {
      color: #171616;
      font-size: .9rem;
      line-height: 2;
    }
    a {
      @include topicTreatment;
    }

    li {
      display: inline;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    .enm-alt-names {

      color: #555;
    }
  }
}